h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}

.hero {
  background-image: url("../image/the-flatiron-building.png");
  color: white;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
